<style>
.card{
    width:60%;
    background-color: grey;
}
#links {
    margin-left:2%;
    background-color: red;
  color: white;
  padding: .3em .3em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}

#links:hover {
  background-color: rgb(75, 0, 0);
}

#links:active {
  background-color: black;
}

#links:visited {
  background-color: #ccc;
}

.card-text{
    text-decoration: underline;
}
</style>

{% extends "layout.html" %}

{% load crispy_forms_tags %}
{% block title %}
Shopping Cart
{% endblock %}

{% block body %}
<div class="card">
    <h5 class="card-header">Shopping Cart</h5>
    <div class="card-body">
        {% for orderitem in orderitems %}
      <p class="card-text">{{orderitem}} <a id="links" href="remove/{{orderitem.id}}">Remove Item</a></p>
      {% endfor %}
      <h4>Total: ${{order.total}}</h2>
        <form action = "/place/{{order.id}}" onsubmit="return confirm('Please confirm your order of: {% for orderitem in orderitems %}\n {{orderitem}} {%endfor%} \n For a total of:{{order.total}}');">
            <button class = "btn btn-outline-success" type="submit">Place Order</button>
        </form>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
    jQuery("#confirm").click(function(){
        $("<div></div>").appendTo('body')
           .html('<div><h3> write your message for confirm dialog</h3></div>')
           .dialog({
                title: "Confotm Dialog" ,
                width:500, height:300,
                modal:true,
                resizable: false,
                show: { effect: 'drop', direction: "left" },
                hide:{effect:'blind'},

                buttons: {
                    Yes: function() {
                          jQuery.ajax({
                              type:"POST", //post data
                              data:{'key':key}, //if you want to send any data to view
                              url:'/get_viewerModal/' // your url that u write in action in form tag
                          }).done(function(result){
                               alert("am done") //this will executes after your view executed
                          })
                     },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
               }
           });
    });
</script>
{% endblock %}