<style>
    .card{
        margin-top:5%;
    width:90%;
    background-color: grey;
}
.card-body{
    width:100%;
}
#links {
    margin-left:2%;
    background-color: red;
  color: white;
  padding: .3em .3em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}

#links:hover {
  background-color: rgb(75, 0, 0);
}

#links:active {
  background-color: black;
}

#links:visited {
  background-color: #ccc;
}

.card-text{
    text-decoration: underline;
}
</style>
{% extends "layout.html" %}

{% load crispy_forms_tags %}
{% block title %}
Shopping Cart
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        Pending Orders
    </div>
    <div class="card-body">
        {% for order in pending_orders %}
      <h5 class="card-title">{{order}} <a href="cancel/{{order.id}}">Cancel Order</a></h5>
      {% for orderitem in order.orderitem_set.all %}
      <p class="card-text">{{orderitem}}</p>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

<div id="sep">
<div class="card">
    <div class="card-header">
        Completed Orders
    </div>
    <div class="card-body">
        {% for order in completed_orders %}
      <h5 class="card-title">{{order}}</h5>
      {% for orderitem in order.orderitem_set.all %}
      <p class="card-text">{{orderitem}}</p>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<div id="sep">
<div class="card">
    <div class="card-header">
        Canceled Orders
    </div>
    <div class="card-body">
        {% for order in canceled_orders %}
      <h5 class="card-title">{{order}}</h5>
      {% for orderitem in order.orderitem_set.all %}
      <p class="card-text">{{orderitem}}</p>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}